<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Кинопоиск</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="box">
        <div class="main main-index">
            <div class="genres">
                <h3>Жанры</h3>
                <a href="">Ужасы</a>
                <a href="">Драма</a>
                <a href="">Фантастика</a>
            </div>

            <div class="main-content">
                <h1>Профиль</h1>
                <div class="profile">
                    <div class="profile-img">
                        <img src="/images/default-avatar.jfif" alt="">
                    </div>
                    <div class="profile-info">
                        <p><b>Полное имя:</b> <span>Алан Саудабеков</span></p>
                        <p><b>E-mail:</b> <span>a_saudabekov9@gmail.com</span></p>
                        <% if (user.id == loginUser.id) { %>
                            <a class="btn-gradient edit-btn">Редактировать</a>
                            <a class="logout-btn" href="/api/signout">Выход</a>
                        <% } %>
                    </div>
                </div>

                <h1>Список фильмов</h1>
                <a href="/new" class="add-btn btn-gradient">Добавить фильм/сериал</a>

                <% films.forEach((film) => { %>
                <div class="film-card">
                    <div class="card-left">
                        <div class="film-poster">
                            <img src="<%= film.poster %>" alt="">
                        </div>

                        <div class="film-info">
                            <p class="film-name"><%= film.titleRu %></p>
                            <p class="film-prefix"><%= film.titleOrig %>, <%= film.year %>, <%= film.time %> мин.</p>
                            <p class="film-desc"><%= film.country.name %>, <%= film.genre.name %></p>
                            <p class="film-author"><%= film.author.full_name %></p>
                            <button class="btn-gradient">
                                <img src="/images/icons/play.svg" alt="">
                                Смотреть
                            </button>
                        </div>
                    </div>

                    <div class="card-right">
                        <p class="film-rating">8.3</p>
                        <div class="film-btns">
                            <a href="/edit/<%= film._id %>" class="edit-film-btn">
                                Редактировать
                            </a>
                            <button class="delete-film-btn" onclick="deleteFilm('<%= film._id %>', '<%= loginUser._id %>')">
                                Удалить
                            </button>
                        </div>
                    </div>
                </div>
                <% }) %>

            </div>
        </div>
    </div>

    <%- include('partials/scripts.ejs') %>
</body>
</html>