<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Кинопоиск</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="box">
        <div class="main main-index">
            <div class="genres">
                <h3>Жанры</h3>
                <% genres.forEach((genre) => { %>
                    <a href=""><%= genre.name %></a>
                <% }) %>
            </div>

            <div class="main-content">
                <h1>Список фильмов</h1>

                <% films.forEach((film) => { %>
                <div class="film-card">
                    <div class="card-left">
                        <div class="film-poster">
                            <img src="<%= film.poster %>" alt="">
                        </div>

                        <div class="film-info">
                            <p class="film-name"><%= film.titleRu %></p>
                            <p class="film-prefix"><%= film.titleOrig %>, <%= film.year %>, <%= film.time %> мин.</p>
                            <p class="film-desc"><%= film.country.name %>, <%= film.genre.name %></p>
                            <button class="btn-gradient">
                                <img src="/images/icons/play.svg" alt="">
                                Смотреть
                            </button>
                        </div>
                    </div>

                    <div class="card-right">
                        <p class="film-rating">8.3</p>
                        <button>
                            <img src="/images/icons/save.svg" alt="">
                            Буду смотреть
                        </button>
                    </div>
                </div>
                <% }) %>

            </div>
        </div>
    </div>

    <%- include('partials/scripts.ejs') %>
</body>
</html>